@import "tailwindcss";

:root {
  --background: #cccaca;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #156097;
  --color-secondary: #19a451;
  --color-accent1: #174263;
  --color-accent2: #15522f;
  --color-accent3: #242424;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
